---
#
# Provide the following info, save as vault.yml and encrypt with ansible-vault
#
# See: http://docs.ansible.com/ansible/playbooks_vault.html
#
sptrans_username: 'username you created on http://www.sptrans.com.br/desenvolvedores/'
sptrans_password: 'password for username above'
cruzalinhas_secret_key_base: 'generate one with rake secret or your favorite method'