#!/usr/bin/env python
#################
#
# download_sptrans_gtfs.py
# ------------------------
#
# This script downloads the latest Google Transit (GTFS) data from SPTrans.
#
# They make the data publicly available, but it requires your login and
# some navigation to download.
#
# Requirements:
#   - Linux (tested on Ubuntu 14.04 LTS) or Mac OS X
#   - Python 2.7 (should work with 3.x, but who uses that?)
#   - Selenium Python (pip install selenium; see http://bit.ly/1XXaWfJ)
#   - Firefox
#
# Optional:
#   - pyvirtualdisplay (for headless mode; see http://bit.ly/1KKsyrv)
#
# Setup:
#   - Create a login on SPTrans (http://www.sptrans.com.br/desenvolvedores)
#   - Configure username/password below
#   - Choose a donwload dir (e.g., /tmp/sptrans) and specify the final
#     filename for the data file (e.g., /home/me/sptrans_gtfs.zip)
#
# Running:
#   - Run python download_sptrans_gtfs.py. If you don't have pyvirtualdisplay
#     and a headless x, you'll see Firefox opening, logging in, navigating and
#     downloading, otherwise the file will be silently stored
#
# Caveats:
#   - Error handling is very basic. Your app should likely crc-check the file.
#   - Did not test headless mode on Mac OS X (but you'll likely only want that
#     on a server anyway)
#
# License:
#   - MIT (see full text below)
#
# Author:
#   - Carlos Duarte do Nascimento (Chester) - http://chester.me
#
#################

# Configuration
username = '{{ sptrans_username }}'
password = '{{ sptrans_password }}'
download_dir = '{{ sptrans_download_dir }}'
gtfs_filename = '{{ sptrans_gtfs_filename }}'

import sys, os, glob, time
from selenium import webdriver

# We'll try to run Firefox in headless mode (no X-Window display), which
# requires xvfb and pyvirtualdisplay to be installed (apt/yum and pip,
# respectively). If we don't have them, run the normal browser mode.
try:
  from pyvirtualdisplay import Display
  display = Display(visible=0, size=(800, 600))
  display.start()
except ImportError:
  sys.stderr.write('Warning: pyvirtualdisplay did not load, running non-headless...')

# Setup directories and clean up previous attempts
temp_file_mask = os.path.join(download_dir, username + '*part')
if not os.path.exists(download_dir):
  os.makedirs(download_dir)
for f in glob.glob(temp_file_mask): os.remove(f)

# Dowload without any prompt (http://stackoverflow.com/a/18440478/64635)
profile = webdriver.FirefoxProfile()
profile.set_preference('browser.download.folderList', 2) # custom location
profile.set_preference('browser.download.manager.showWhenStarting', False)
profile.set_preference('browser.download.dir', download_dir)
profile.set_preference('browser.helperApps.neverAsk.saveToDisk', 'application/octet-stream')

driver = webdriver.Firefox(profile)
try:
  # Open the page, fill in the login form and navigate to the download
  driver.get('http://www.sptrans.com.br/desenvolvedores/Default.aspx')

  driver.find_element_by_id('devPlaceUserName').send_keys(username)
  driver.find_element_by_id('devPlaceUserPass').send_keys(password)
  driver.find_element_by_id('btnDevPlaceLogin').click()
  time.sleep(5)

  driver.find_element_by_id('lnkGoToGTFS').click()
  time.sleep(5)

  driver.find_element_by_id('btDownloadGTFS').click()

  # Wait until the file is downloaded
  while True:
    time.sleep(1)
    if not glob.glob(temp_file_mask):
      break

  # Name it accordingly (we assume it's the most recent file on the d/l dir)
  given_filename = max(glob.glob(os.path.join(download_dir, '*')), key=os.path.getctime)
  os.rename(given_filename, gtfs_filename)

finally:
  driver.quit()

#
# download_sptrans_gtfs.py - Copyright (c) 2015 Carlos Duarte do Nascimento (Chester)
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
# CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
# TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
# SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
