#!/bin/bash
#
# Usage:
#   ha-backup [restore [optional_file_prefix]]
#
# Examples:
#   ha-backup.sh                      # backs up latest config
#   ha-backup.sh restore              # restores latest config
#   ha-backup.sh restore 2019-04-01-  # restores config from April 1st, 2019
#                                     # (the dash is important)
#
rm /tmp/ha-backup.tar.gz.gpg
if [ "$1" == "restore" ]; then
  echo "Restoring..."
  cp /media/usb_backup/ha-backups/$2ha-backup.tar.gz.gpg /tmp/
  mkdir ~/.homeassistant
  cd ~/.homeassistant
  cat /tmp/$2ha-backup.tar.gz.gpg |
    gpg -d --batch --passphrase-file /home/{{ admin_user }}/.backup-password -o - |
    tar -xz
else
  echo "Backing up..."
  tar -cz -C /home/{{ admin_user }}/.homeassistant . | gpg -c --batch --passphrase-file /home/{{ admin_user }}/.backup-password -o /tmp/ha-backup.tar.gz.gpg
  timestamp=`date +'%Y-%m-%d'`
  cp /tmp/ha-backup.tar.gz.gpg /media/usb_backup/ha-backups/
  cp /tmp/ha-backup.tar.gz.gpg /media/usb_backup/ha-backups/${timestamp}-ha-backup.tar.gz.gpg
fi
rm /tmp/ha-backup.tar.gz.gpg
