living_room_light_mac: {{ living_room_light_mac }}
bedroom_lamp_mac: {{ bedroom_lamp_mac }}
living_room_lamp_on_command: {{ living_room_lamp_on_command }}
living_room_lamp_off_command: {{ living_room_lamp_off_command }}
google_assistant_project_id: {{ google_assistant_project_id }}
google_assistant_api_key: {{ google_assistant_api_key }}
